@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: 55 30% 92.1569%;
    --foreground: 15.6522 15.4362% 29.2157%;
    --card: 55 30% 92.1569%;
    --card-foreground: 15.6522 15.4362% 29.2157%;
    --popover: 0 0% 100%;
    --popover-foreground: 15.6522 15.4362% 29.2157%;
    --primary: 18.0952 25.5061% 51.5686%;
    --primary-foreground: 0 0% 100%;
    --secondary: 37.5 22.4719% 65.098%;
    --secondary-foreground: 0 0% 100%;
    --muted: 20.4545 44.898% 80.7843%;
    --muted-foreground: 13.75 21.0526% 44.7059%;
    --accent: 20.4545 44.898% 80.7843%;
    --accent-foreground: 15.6522 15.4362% 29.2157%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 37.5 22.4719% 65.098%;
    --input: 37.5 22.4719% 65.098%;
    --ring: 18.0952 25.5061% 51.5686%;
    --chart-1: 18.0952 25.5061% 51.5686%;
    --chart-2: 13.75 21.0526% 44.7059%;
    --chart-3: 22.3729 32.9609% 64.902%;
    --chart-4: 37.5 22.4719% 65.098%;
    --chart-5: 22.3256 18.7773% 55.098%;
    --chart-green: 122.222 39.5349% 49.6078%;
    --chart-red: 0 72% 51%;
    --chart-gray: 210 16.6667% 70%;
    --sidebar: 20.625 44.4444% 85.8824%;
    --sidebar-foreground: 15.6522 15.4362% 29.2157%;
    --sidebar-primary: 18.0952 25.5061% 51.5686%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 22.3729 32.9609% 64.902%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 22.3256 18.7773% 55.098%;
    --sidebar-ring: 18.0952 25.5061% 51.5686%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
    --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
    --shadow-sm: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
    --shadow: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
    --shadow-md: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 2px 4px -1px hsl(20 18% 51% / 0.11);
    --shadow-lg: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 4px 6px -1px hsl(20 18% 51% / 0.11);
    --shadow-xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 8px 10px -1px hsl(20 18% 51% / 0.11);
    --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

     /* ROADMAP */
    --roadmap-default-bg: oklch(0.968 0.007 247.896); /* --muted */
    --roadmap-default-fg: oklch(0.554 0.046 257.417); /* --muted-foreground */
    --roadmap-default-border: oklch(0.929 0.013 255.508); /* --border */

    --roadmap-inprogress-bg: oklch(0.98 0.05 90);    /* Amarillo muy claro */
    --roadmap-inprogress-fg: oklch(0.5 0.07 90);     /* Amarillo oscuro */
    --roadmap-inprogress-border: oklch(0.85 0.07 90); /* Amarillo medio */
    
    --roadmap-completed-bg: oklch(0.95 0.05 150);   /* Verde muy claro */
    --roadmap-completed-fg: oklch(0.35 0.07 150);   /* Verde oscuro */
    --roadmap-completed-border: oklch(0.8 0.07 150); /* Verde medio */
  }

  .dark {
    --background: 20 15.3846% 15.2941%;
    --foreground: 55 30% 92.1569%;
    --card: 21.4286 13.2075% 20.7843%;
    --card-foreground: 55 30% 92.1569%;
    --popover: 21.4286 13.2075% 20.7843%;
    --popover-foreground: 55 30% 92.1569%;
    --primary: 22.3729 32.9609% 64.902%;
    --primary-foreground: 20 15.3846% 15.2941%;
    --secondary: 13.75 21.0526% 44.7059%;
    --secondary-foreground: 55 30% 92.1569%;
    --muted: 15.6522 15.4362% 29.2157%;
    --muted-foreground: 21.4286 26.5823% 69.0196%;
    --accent: 37.5 22.4719% 65.098%;
    --accent-foreground: 20 15.3846% 15.2941%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 15.6522 15.4362% 29.2157%;
    --input: 15.6522 15.4362% 29.2157%;
    --ring: 22.3729 32.9609% 64.902%;
    --chart-1: 22.3729 32.9609% 64.902%;
    --chart-2: 37.5 22.4719% 65.098%;
    --chart-3: 18.0952 25.5061% 51.5686%;
    --chart-4: 13.75 21.0526% 44.7059%;
    --chart-5: 22.3256 18.7773% 55.098%;
    --chart-green: 122.222 39.5349% 49.6078%;
    --chart-red: 0 72% 51%;
    --chart-gray: 210 16.6667% 30%;
    --sidebar: 22.5 14.8148% 10.5882%;
    --sidebar-foreground: 55 30% 92.1569%;
    --sidebar-primary: 22.3729 32.9609% 64.902%;
    --sidebar-primary-foreground: 22.5 14.8148% 10.5882%;
    --sidebar-accent: 37.5 22.4719% 65.098%;
    --sidebar-accent-foreground: 22.5 14.8148% 10.5882%;
    --sidebar-border: 15.6522 15.4362% 29.2157%;
    --sidebar-ring: 22.3729 32.9609% 64.902%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
    --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
    --shadow-sm: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
    --shadow: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
    --shadow-md: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 2px 4px -1px hsl(20 18% 30% / 0.11);
    --shadow-lg: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 4px 6px -1px hsl(20 18% 30% / 0.11);
    --shadow-xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 8px 10px -1px hsl(20 18% 30% / 0.11);
    --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);

    /* ROADMAP */
    --roadmap-default-bg: oklch(0.279 0.041 260.031); /* --muted */
    --roadmap-default-fg: oklch(0.704 0.04 256.788);   /* --muted-foreground */
    --roadmap-default-border: oklch(1 0 0 / 10%);      /* --border */

    --roadmap-inprogress-bg: oklch(0.35 0.07 90);    /* Ámbar oscuro */
    --roadmap-inprogress-fg: oklch(0.95 0.07 90);    /* Ámbar claro */
    --roadmap-inprogress-border: oklch(0.5 0.07 90); /* Ámbar medio */

    --roadmap-completed-bg: oklch(0.3 0.07 150);     /* Verde oscuro */
    --roadmap-completed-fg: oklch(0.9 0.07 150);     /* Verde claro */
    --roadmap-completed-border: oklch(0.45 0.07 150); /* Verde medio */
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}